#gameboards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gameboard {
    display: grid;
    box-sizing: border-box;
    border: solid 2px;
    grid-gap: 1px;
    background-color: black;
}

.grid-square {
    background-color: white;
}

#board-human>.grid-square.ship {
    background-color: darkslategray;
}

#board-pc>.grid-square.ship {
    background-color: darkslategray;
}

#board-pc>.grid-square:hover {
    background-color: gray;
}

#board-pc>.grid-square.hit, #board-human>.grid-square.hit{
    background-color: red;
}

#board-pc>.grid-square.miss, #board-human>.grid-square.miss {
    background-color: green;
}